
header {
  margin: 0px 0px 0px 0px ;
  background-color: #A6206A;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  text-decoration: none;
  flex-wrap: wrap;
}
nav {
  background-color: #A6206A;
  display: flex;
  flex-wrap: wrap;
}

.logo {
  margin: 5 5;
  padding: 5;
  display: flex;
  border: solid 1px black;
  justify-content: flex-start;
}
aside {
  background-color: #EC1C4B;
  display: flex;
}