nav {
  background-color: #9644BB;
display: flex;
justify-content:space-between;
}
nav ul, .top-nav {
  display: flex;
  justify-content: flex-end;
  flex-direction: column ;
}
header {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 100%;
}

.h2-title {
  text-align: center;
  width: 100%;
}
h2 {
  display: flex;
  justify-content: center;
  align-self: center;
}
.la-bars {
  font-size: 30px;
  color: black;
  display: flex;
  justify-content: flex-end;
  align-self: center;  
}
aside ul {
  display: flex;
  justify-content: space-around;
  text-align: center;
  list-style-type: none;
}

footer {
  background-color: #9644BB;
  display: flex;
  border: solid 3px grey;
   align-items: center;
   justify-content: center;
   width: 100%;
}
p {
  max-width: 40ch;
  display: flex;
  text-align: center;
  justify-content: center;
}

/* Layout of Cards */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* card style */
.card {
  display: flex;
  flex-direction: column;

/* design of card */
border: 2px solid orange;
border-radius: 10px;
max-width: 300px;
margin: 10px;
padding: 10px;
}

.buy-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* added border on logo just to show that my media query is working */
.logo {
  margin: 5 5;
  max-width: 40px;
  max-height: 80;
  border: solid 5px grey;
}


/* CHANGES AFTER SCREEN IS 500PX OR MORE */
@media screen and (min-width: 500px) {
  main {
    width: 100%;
  }
  header {
    margin: 0px 0px 0px 0px ;
    background-color: #A6206A;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  
  ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    text-decoration: none;
    flex-wrap: wrap;
  }
  .h2-title {
    display: flex;
    justify-content: flex-start;
  }
  nav {
    background-color: #A6206A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
  }
  .top-nav {
    gap: 8px;
    display: flex;
    justify-content:flex-end;
    flex-direction: row;
  }
  
  .logo {
    margin: 5 5;
    padding: 5;
    display: flex;
    border: solid 1px black;
    justify-content: flex-start;
  }
  /* my goal was to have aside like a nav bar but might not be done due to time, also it would probably have been good to do with css grid instead */
  aside {
    background-color: #EC1C4B;
    display: flex;
    flex-direction: column;
  }
  aside ul{
    display: flex;
    justify-content: left;
    flex-direction: column;
  }
  i.las.la-bars {
    display: none;
 }
 h2 {
   display: flex;
   justify-content: center;
   align-self: center;
 }
 footer {
   display: flex;
   align-items: center;
   justify-content: center;
   background-color:#2F9395 ;
   border: none;
 }
 p {
   max-width: 40ch;
   display: flex;
   text-align: center;
   justify-content: center;
 }

}